{% extends "orders/base.html" %}

{% block title %}
Register
{% endblock %}

{% block body %}
<div class="regform"><h1>Register</h1></div>
    <div class="mainr">
        <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
            <div id="name">
                <h2 class="name">Name</h2>
                <input class="first-name" type="text" name="fname"><br>
                <label class="firstlabel">first name</label>
                <input class= "last-name" type="text" name="lname">
                <label class="lastlabel">last name</label>
            </div>

            <h2 class="name">Username</h2>
            <input class="user-name" type="username" name="username">

            <h2 class="name">Password</h2>
            <input class="password" type="password" name="password">
            <!-- <label class="passlabel">Password</label> -->

            <h2 class="name">Email</h2>
            <input class="email" type="text" name="email">

            <input class="button" type="submit" value="Register">
        </form>
    </div>

{% endblock %}